:root {
    --black: #222;
    --gradient: linear-gradient(45deg, rgba(121, 110, 255, 0.95) 0%, rgb(190 80 236 / 95%) 100%);
    --white: #FFF;
}

body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    color: var(--black);
    font-family: Helvetica, sans-serif;
}

a {
    color: #959595;
    text-decoration: none;
}

p {
    letter-spacing: 0.05rem;
    line-height: 1.3;
}

ul {
    list-style: none;
}

.title {
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.title span {
    font-weight: bold;
}

.btn {
    background-image: var(--gradient);
    color: var(--white);
    border-radius: 5px;
    padding: 15px 13px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.small-font {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.small-font.text-uppercase {
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 100px minmax(300px, 950px) 1fr;
}

.section-full {
    padding: 5rem 0;
}

/* HEADER */
.header {
    grid-column: 2 / 5;
    display: flex;
    margin-top: 1.875rem;
}

.header .menu {
    align-items: center;
    background: var(--black);
    border-radius: 7px 0 0 7px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    width: 70%;
}

.header .menu ul {
    display: flex;
    margin-left: 2.5rem;
}

.header .menu ul li + li {
    margin-left: 2.5rem;
}

.header .menu ul a {
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 13px 10px;
    text-transform: uppercase;
}

.header .btn {
    font-size: 11px;
}

/* HOME BANNER */
.home-banner {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: 1fr 1.5fr;
    min-height: 87vh;
}

.home-banner > div {
    display: flex;
}

.home-banner-text {
    flex-direction: column;
    justify-content: center;
}

.home-banner-img {
    align-items: center;
    justify-content: center;
}

/* INFORMATION */
.information {
    background: var(--black);
    color: var(--white);
    padding-bottom: 17rem;
}

.information-container {
    display: flex;
    grid-column: 2 / 4;
    justify-content: space-between;
}

.information-box {
    border: solid 2px #121212;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    text-align: center;
    width: calc(100% / 4 - 20px);
}

.information-box:hover {
    background: linear-gradient(45deg, rgba(121, 110, 255, 0.95) 0%, rgb(190 80 236 / 95%) 100%);
    animation: .5s hoverGradient forwards;
}

@keyframes hoverGradient {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.information-box img {
    margin: 0 auto 10px
}

.information-box h2 {
    height: 40px;
    margin-bottom: 1rem;
    margin-top: 10px;
}

.information-box p {
    font-size: 14px;
    padding: 0 5%;
}






